# Ignore build directories
build/
dist/
*.egg-info/

# Ignore PyInstaller spec files
*.spec

# Ignore environment configuration files
*.env

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore coverage reports
.coverage
.coverage.*
*.cover

# Ignore mypy and other static analysis results
.mypy_cache/
.pytype/
